header{
    background-color: $grey;
}

.headerr{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    justify-content: space-between;
    .logo{
        display: flex;
        align-items: center;
        h1{
        font-size: 20px;
        margin: 0px;}
    }
}
